.formControl {
    border: 2px solid black;
}
.error {
    border: 2px solid red;
}

.errorText {
    color: red;
}
.formGroupError {
    border: 1px solid red;
    padding: 5px;
    color: #820b0b;
    width: 150px;
}
