@import "src/common/Styles/Sass/mixins";
@import "src/common/Styles/Sass/variables";

.nav {
  display: flex;
  flex-direction: column;
  min-width: 140px;
  @media screen and (max-width: 922px) {
    flex-direction: row;
    margin: 10px 10px 10px 20px;
    justify-content: center;
  }

  .navBlock {
    margin: 40px;
    margin-left: 30px;

    @media screen and (max-width: 922px) {
      display: flex;
      justify-content: space-between;
      width: 400px;
      margin: 3px;
    }

    .item a {
      @include text($mainFontFamily, 28px, 700, 2rem, $textColor);
      text-decoration: none;
      @media screen and (max-width: 645px) {
        @include text($mainFontFamily, 24px, 700, 2rem, $textColor);
      }
    }

    a.active {
      color: $activeColor;
    }
  }

  .logoBlock {
    display: flex;
    justify-content: flex-start;

    .logo {
      width: 120px;
      border: solid white 2px;
      border-radius: 60%;
      @media screen and (max-width: 645px) {
        width: 80px;
      }
    }
  }

}




