@import "../../../common/Styles/Sass/mixins";
@import "../../../common/Styles/Sass/variables";

.profileInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 450px;
  height: 450px;
  background-color: #d08804;
  background-image: url('../../../common/images/profileBg.png');
  border: none;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  box-shadow: 4px 7px 12px -3px #0b0000;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;

  @media screen and (max-width: 645px) {
    width: 350px;
    height: 350px;
  }

  .descriptionBlock {
    display: flex;
    align-items: center;
    padding: 20px 20px 5px;

    label {
      cursor: pointer;

      .photoIcon {
        width: 30px;
        z-index: 10;
        margin-left: -30px
      }
    }

    input[type=file] {
      display: none;
    }

    .avatar {
      width: 120px;
      border: solid white 2px;
      border-radius: 60%;
      @media screen and (max-width: 645px) {
        width: 80px;
      }
    }

    .status {
      @include text($titleFontFamily, 26px, 400, 2rem, $textColor);
      padding-left: 20px;
      @media screen and (max-width: 645px) {
        @include text($titleFontFamily, 21px, 400, 2rem, $textColor);
      }

      .profileName {
        @include text($mainFontFamily, 30px, 700, 2rem, $textColor);
        @media screen and (max-width: 645px) {
          @include text($mainFontFamily, 26px, 700, 2rem, $textColor);
        }
      }
    }
  }

  .profileInfo {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
    flex-wrap: wrap;
    @include text($regularTextFontFamily, 16px, 400, 1.5rem, $textColor);
    @media screen and (max-width: 645px) {
      @include text($regularTextFontFamily, 13px, 400, 1.2rem, $textColor);
      margin-left: 20px;
      width: 300px;
    }

    .editProfile {
      margin-left: -20px;
      @include text($regularTextFontFamily, 14px, 400, 1rem, $textColor);
      @media screen and (max-width: 645px) {
        margin-left: -3px;
        @include text($regularTextFontFamily, 12px, 400, 1rem, $textColor);
      }
      .editIcon {
        width: 20px;
        @media screen and (max-width: 645px) {
         width: 15px;
        }
      }
    }

    .profileText {
      @include text($titleFontFamily, 24px, 400, 1.5rem, $textColor);
      @media screen and (max-width: 645px) {
        @include text($titleFontFamily, 19px, 400, 1.2rem, $textColor);
      }
    }

    .contacts {
      display: flex;
      flex-direction: column;


      a {
        text-decoration: none;
        @include text($mainFontFamily, 24px, 800, 1.8rem, $textColor);
        @media screen and (max-width: 645px) {
          @include text($mainFontFamily, 18px, 800, 1.4rem, $textColor);
        }
      }

      .noContact {
        @include text($mainFontFamily, 24px, 800, 1.5rem, #dbd5d5);
        cursor: default;
        @media screen and (max-width: 645px) {
          @include text($mainFontFamily, 18px, 800, 1.5rem, #dbd5d5);
        }
      }
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

    .profileForm {

      input {
        border: 1px solid $textSecondaryColor;
        border-radius: 8px;
        width: 157px;
        padding: 5px;
        @include text($regularTextFontFamily, 12px, 400, 1rem, $textSecondaryColor);
        margin: 2px;
        margin-left: 5px;
      }

      textarea {
        border: 1px solid $textSecondaryColor;
        border-radius: 8px;
        width: 157px;
        padding: 5px;
        margin: 2px;
        margin-left: 5px;
        @include text($regularTextFontFamily, 12px, 400, 1rem, $textSecondaryColor);
      }
    }

    .editFields {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 5px;
    }
  }

}
.editModeBG {
  min-height: 550px;
}

