.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas:
  "header header"
  "nav content"
}

.nav {
    grid-area: nav;
    background-color: green;
}

.header {
    grid-area: header;
    background-color: pink;
}

.header img {
    width: 60px;
    border: solid white 2px;
    border-radius: 60%;
}

.content {
    grid-area: content;
    background-color: blue;
}

.content img {
    width: 1200px;
    height: auto;
}