
.appWrapper {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;

  .appMain {
    display: flex;
     }

  .appWrapperContent {
    margin: 40px;
    display: flex;

  }
}

