
//----Colors------
$textColor: #6d2626;
$textSecondaryColor: #2e251b;
$primaryColor: #aba79e;
$secondaryColor: #c7c3b9;
$bgPrimaryColor: #1d1d1d;
$bgSecondaryColor: #181818;
$shadows: #001414;

//----Fonts-----
$titleFontFamily: 'Dancing Script', cursive;
$mainFontFamily: 'Amatic SC', cursive;
$regularTextFontFamily: 'Comfortaa', cursive;

