
//----Colors------
$textColor: #4b4344;
$textSecondaryColor: #2e251b;
$primaryColor: #aba79e;
$secondaryColor: #c7c3b9;
$bgPrimaryColor: #fbf1ef;
$bgSecondaryColor: #ecf9f8;
$shadows: #001414;
$activeColor: #57bbb2;
//----Fonts-----
$titleFontFamily: 'Dancing Script', cursive;
$mainFontFamily: 'Amatic SC', cursive;
$regularTextFontFamily: 'Comfortaa', cursive;

